<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Amabet: jouw betting website!</title>
    <link rel="icon" href="https://d1s3ak279u1qfe.cloudfront.net/domains/amabet/img/logo.png" type="image/png">
</head>

<body>
    <header>
        <a class=logo href="/"><img src="https://d1s3ak279u1qfe.cloudfront.net/domains/amabet/img/logo.png" alt="amabet logo" width="70"/> </a>
        <nav>
            <ul class = nav__links>
                <li class="balance"> Username: {{ username }} - Balance: €{{ user_balance }}</li>
                <li><a href="/matches">Wedstrijden</a></li>
                <li><a href="/bets">Mijn Bets</a></li>
                <li><a href="/ranking">Ranglijst</a></li>
                <li><a href="/history">History</a></li>
                
            </ul>
        </nav>
        <a class="button" href="/logout">Log out</a>     
    </header>

    <div class="middle">

        <div class="flexbox-item flexbox-item1">
            <div>
                <form class="search-bar" action="/" method="POST">
                    <input autocomplete="on" name="competition" placeholder="Vind competitie" type="text">
                    <button type="submit"><img src="https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png" width="16px" alt="search-icon"></button>
                </form>
            </div>
        </div>

        <div class="flexbox-item flexbox-item2">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    
    <footer class="footer">
        Data provided by <a href="https://live-score-api.com/">live-score.com</a>
    </footer>

</body>
</html>